body{
  text-align:center;
  padding-top: 120px;
}

html {
  background-color: #E4E9FD;
  background-image: -webkit-linear-gradient(70deg, #888888 50%, #58b4ae 50%);
  min-height: 1000px;
  font-family: 'helvetica neue';
}

input[type=text] {
  text-align: center;
  width: 30%;
  padding: 8px 10px;
  margin-left:530px;
  margin-bottom:10px;
  display:block;
  box-sizing: border-box;
}

h1{
  font-family: 'Georgia';
  color:white;
  display: block;
  font-size: 50px;
}

p{
  font-family: 'Georgia';
  color:white;
  display: block;
  font-size: 30px;
}

button{
  width:100px;
  border-color:transparent;
  background-color: #A683E3;
  color:#fff;
  font-size:20px;
  border-width:0;
}

button:hover{
  color:black;
}

#demo2{
  font-size:50px;
}
